@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chomsky";
  src: url("../public/Chomsky.otf") format("truetype");
  font-weight: normal;
}

@layer utilities {
  .word-spacing {
    word-spacing: 8px;
  }
}
